<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Confirmación</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Nota creada con éxito</h1>
        <p>Tu nota ha sido almacenada correctamente.</p>
        <br>
    <a href="{{url_for('notes.home')}}">Ir a Inicio</a>
        <script src="" async defer></script>
    </body>
</html>