<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Editar nota</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>

    <body>
        <h1>Editar una nota</h1>
        <form method="post">
            <div>
            <label for ="title">Titulo</label>
            <input type="text" name="title" value="{{note.title}}" id="title">
            </div>
            </div>
            <label for="content">Contenido</label>
            <textarea name="content">{{note.content}}</textarea>
            </div>
            <button type="submit">Guardar Nota</button>
        </form>
    </body>
</html>