<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>crear una nueva nota</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>

    <body>
        <h1>Crear una nueva nota</h1>
        <form method="post">
            <label for ="title">Titulo</label>
            <input type="text" name="title" id="title">
            <br>
            <label for="content">Contenido</label>
            <input type="text" name="content" id="content">
            <br>
            <button type="submit">Crear Nota</button>
        </form>
    </body>
</html>